<ion-header>
  <ion-toolbar>
    <h5 class="secondary" text-center>Payments</h5>
    <ion-buttons end>
      <button ion-button clear icon-only small color="primary" (click)="update()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button clear icon-only small color="primary" (click)="sync('up')">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <button ion-button clear icon-only small color="primary" (click)="sync('down')">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-button clear icon-only small color="secondary" *ngIf="isManager()" (click)="showSettings()">
        <ion-icon name="cog"></ion-icon>
      </button>
      <!-- <button ion-button clear icon-only small color="danger" (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button> -->
      <!-- <button ion-button clear small (click)="showMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button> -->
      <button ion-button small color="primary" clear icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row no-wrap>
      <ion-col col-3 class="border-right"><b>Date</b></ion-col>
      <ion-col col-2 class="border-right"><b>ID</b></ion-col>
      <ion-col col-1 class="border-right"><b>Amount</b></ion-col>
      <ion-col col-1 class="border-right"><b>Invoice?</b></ion-col>
      <ion-col col-1 class="border-right"><b>To</b></ion-col>
      <ion-col col-1 class="border-right"><b>By</b></ion-col>
      <ion-col col-3 class="border-right"><b>Description</b></ion-col>
    </ion-row>
    <ion-row no-wrap *ngFor="let payment of payments" (click)="showInfo(payment)">
      <ion-col col-3 class="border-right">{{ payment.date }}</ion-col>
      <ion-col col-2 class="border-right">{{ payment._id }}</ion-col>
      <ion-col col-1 class="border-right">{{ payment.amount }}</ion-col>
      <ion-col col-1 class="border-right" [class.danger]="payment.isinvoice && payment.amount != payment.unpaid" [class.secondary]="!payment.isinvoice && payment.amount == payment.unpaid">{{ payment.isinvoice ? 'Yes' : 'No' }}</ion-col>
      <ion-col col-1 class="border-right">{{ payment.to }}</ion-col>
      <ion-col col-1 class="border-right">{{ payment.by.username }}</ion-col>
      <ion-col col-3 class="border-right">{{ payment.description }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab mini color="primary" (click)="addPayment()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="border-right"><b>Total Payments: </b><i class="danger" text-right> KES {{ total_payments_value }} /=</i></ion-col>
    <ion-col class="border-right"><b>Total Invoice Value: </b><i class="danger" text-right> KES {{ total_invoices_value }} /=</i></ion-col>
    <ion-col class="border-right"><b>Total Unpaid Invoice: </b><i class="danger" text-right> KES {{ total_invoices_value_balance }} /=</i></ion-col>
  </ion-row>
</ion-footer>