sell {
  .footer {
    background-color: rgba(197, 191, 191, 0.78);
    color: black;    
  }
  .category {
    background-color: #A09A9A;
  }
  .good {
    background-color: #C7C3C3;
  }
  .listitem {
    background-color: #C7C3C3;
    margin: 1px 0px;
  }
  .iconbutton {
    margin: 0px 5px;
  }
}
