<ion-header>
  <ion-toolbar>
    <h5 class="secondary" text-center>New Payment</h5>
    <ion-buttons end>
      <button ion-button small clear icon-only color="danger" (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-row no-wrap>
    <ion-col></ion-col>
    <ion-col col-8>
      <form novalidate [formGroup]="payment">
        <ion-row no-wrap>
          <ion-col></ion-col>
          <ion-col col-8>
            <p text-center class="secondary">Enter the amount paid.</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap>
          <ion-col></ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label floating>Amount</ion-label>
              <ion-input type="number" formControlName="amount" autofocus></ion-input>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap *ngIf="errors.amount.length">
          <ion-col></ion-col>
          <ion-col col-10>
            <p class="danger info" text-center>{{ errors.amount }}</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap>
          <ion-col></ion-col>
          <ion-col col-8>
            <p text-center class="secondary">
              Please enter to whom this payment was made.
            </p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap>
          <ion-col></ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label floating>To</ion-label>
              <ion-input type="text" formControlName="to"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap *ngIf="errors.to.length">
          <ion-col></ion-col>
          <ion-col col-10>
            <p class="danger info" text-center>{{ errors.to }}</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap>
          <ion-col col-8>
            <p text-center class="secondary" *ngIf="has_description">Add a description for this payment.</p>
            <p text-center class="secondary" *ngIf="!has_description">You may add a description for the payment.</p>
          </ion-col>
          <ion-col>
            <button ion-fab mini color="{{ has_description ? 'danger' : 'secondary' }}" (click)="toggleDescription()">
              <ion-icon name="add" *ngIf="!has_description"></ion-icon>
              <ion-icon name="close" *ngIf="has_description"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row no-wrap *ngIf="has_description">
          <ion-col></ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-textarea placeholder="Enter a brief description for this payment." formControlName="description"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row no-wrap *ngIf="errors.description.length && has_description">
          <ion-col></ion-col>
          <ion-col col-10>
            <p class="danger info" text-center>{{ errors.description }}</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </form>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row no-wrap>
    <ion-col></ion-col>
    <ion-col col-6>
      <button ion-button full icon-right [disabled]="!payment.valid" color="secondary" (click)="create()">
        Add Payment
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>